{% block header %}
	<!-- header -->
	<header>
			<div class="topnav">
					<h1 class="name">
							<a href="/">{{site.name}}</a><span class="title">{% if 'home' in body_class %}{{site.description}}{% else %}{{post.title}}{% endif %}</span>
					</h1>
					<div id="trigger-overlay">
							<i class="hamburger"></i>
					</div><!-- menu-button-->
			</div>
	</header>
	<!-- overlay nav -->
		<div id="brand-platform" role="navigation" class="overlay">
			<div class="inner">
				<nav>
					 <ul id="menu-main-nav" class="nav">
						 {% for item in menu.get_items %}
							 <li class="nav-main-item{{item.current ? ' active'}}{% if cpt_current == item.title %} active{% endif %}">
								 <a{% if item.target %} target="{{item.target}}"{% endif %} href="{{item.get_path}}">{{item.title}}</a>
								</li>
					{% endfor %}
					 </ul>
				</nav>

					<div class="logo-wrap">
							<div class="logo-inner">
							<a href="/"><img src="{{theme.uri}}/img/robot-repair.png"/></a>
							<p class="tagline"><em>{{site.description}}</em></p>
						</div>
					</div>
			</div>
		</div>
{% endblock %}
